.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__delete-btn {
  background: url(../images/trash.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__delete-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__caption {
  padding: 25px 20px 25px 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  /*this is to add ellipsis to long vanoise park name */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 219px;
}

.card__like-button {
  background: url(../images/like-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 18px;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
