.form__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  min-width: 358px;
  height: 14px;
  padding: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input:first-of-type {
  margin-bottom: 30px;
}

.form__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 572px) {
  .form__input {
    min-width: 238px;
  }
}
