.modal__container_type_img {
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  background: none;
}

.popup__img {
  object-fit: cover;
  /* this allows so no horizontal scroll on mobile screens*/
  max-width: 100%;
}

.preview__img_caption {
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
