.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: auto;
  padding: 34px 36px 36px;
  font-family: "Inter", Arial, sans-serif;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 6px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  margin: 0 0 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  min-width: 358px;
  height: 14px;
  padding: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__input:first-of-type {
  margin-bottom: 30px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  padding: 0;
  border: none;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 572px) {
  .modal {
    padding: 0 19px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
  }

  .modal__input {
    min-width: 238px;
  }

  .modal__button {
    height: 46px;
  }
}
