.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__photo {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-areas: "name button" "description description";
  grid-gap: 9px 17px;
}

.profile__name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  grid-area: name;
}

.profile__edit-button {
  background: url(../images/edit-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  align-self: center;
  width: 24px;
  height: 24px;
  grid-area: button;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
}

.profile__add-button {
  margin-left: auto;
  background: url(../images/add-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
