.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__photo {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-areas: "name button" "description description";
  grid-gap: 9px 17px;
}

.profile__name {
  margin: 0;
  font-family: "Inter";
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  grid-area: name;
}

.profile__edit-button {
  background: url(../images/edit-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 24px;
  max-height: 24px;
  grid-area: button;
}

.profile__description {
  margin: 0;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
}

.profile__add-button {
  margin-left: auto;
  background: url(../images/add-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
}
