.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 572px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }
  .header__logo {
    width: 126px;
    margin-left: 27px;
  }
}
