.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* this w modal_opened allows for smooth transition when opening and closing modals */
  visibility: hidden;
  opacity: 0;
  /* transition for closing. transition starts 0.6s after opening transition ends (vis 0s 0.6s) */
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  /* this is the transition for opening*/
  transition: visibility 0s, opacity 0.6s linear;
}

.modal__container {
  max-height: 430px;
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin: auto;
  padding: 34px 36px 36px;
  font-family: "Inter", Arial, sans-serif;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 6px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  margin: 0 0 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;
  height: 14px;
  padding: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

/* did this same effect using the modal error message's min-height */
/* .modal__input:first-of-type {
  margin-bottom: 30px;
} */

/* .modal__input:last-of-type {
  margin-bottom: 48px;
} */

.modal__button {
  padding: 0;
  border: none;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 572px) {
  .modal {
    padding: 0 19px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
  }

  .modal__input {
    min-width: 238px;
  }

  .modal__button {
    height: 46px;
  }
}

@media screen and (min-width: 250px) and (max-width: 350px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }

  .modal__heading {
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
  }
}

/* Following for validation styling */
.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
  /* margin-bottom: 48px; */
}

.modal__error {
  font-family: "Inter", Arial, sans-serif;
  color: #ff0000;
  font-size: 12px;
  max-width: 358px;
  /* this becomes the bottom margin for the input  */
  min-height: 30px;
  display: block;
}

.modal__error:last-of-type {
  min-height: 48px;
}

.modal__button:disabled {
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  background-color: #fff;
}
